body {
    font-family: Arial, Helvetica, sans-serif;
}

/* .jumbotron {
    background-color: lightgoldenrodyellow;
} */

.main, #question, #choice {
    margin: 0 auto;
    text-align: center;
}

.main {
    margin: 20px;
}

#question, #timer {
    margin: 10px;
}

.choice:hover, #question, #result {
    font-weight: bold;
}

@media screen and (max-width: 640px) {
    #main {
        width: 100%;
        padding: 10px;
    }
}